@model Book 

<div>
    <h4>Book Title: @Model.Title</h4>
    <p>Author: @Model.Author</p>
    <p>Publisher: @Model.Publisher</p>
    <p>ISBN: @Model.ISBN</p>
    <p>Category: @Model.Category</p>
    <p>Price: @Model.Price</p>
    <p>Number of Pages: @Model.NumberOfPages</p>

</div>