@{
    ViewData["Title"] = "Home Page";
}

<header>
    <h1>Reading is Adventure!</h1>
</header>

@model IEnumerable<Bookstore.Models.Book>

<div>
    <tbody>
        @foreach (Bookstore.Models.Book x in Model)
        {
        <tr>
            <th>@x.Title</th>
            <th>@x.Author</th>
            <th>@x.Publisher</th>
            <th>@x.ISBN</th>
            <th>@x.Category</th>
            <th>@x.Price</th>
        </tr>
        }
    </tbody>
    </table>

</div>